/* Variables
================================ */
$red: rgb(160,0,0);	
$grey: rgb(230, 230, 230);

$font1: 'Open Sans', sans-serif;
$font2: 'Merriweather', serif;
$font3: 'Lato', sans-serif;


/* Mixin
================================ */
@mixin border-radius($left-top, $right-top, $right-bottom, $left-bottom) {
  -webkit-border-radius: $left-top $right-top $right-bottom $left-bottom;
     -moz-border-radius: $left-top $right-top $right-bottom $left-bottom;
      -ms-border-radius: $left-top $right-top $right-bottom $left-bottom;
          border-radius: $left-top $right-top $right-bottom $left-bottom;
}

@mixin roundy($radius) {
  @include border-radius($radius,$radius,$radius,$radius);
}

@mixin flex {
  /* old syntax */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  /* new syntax */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;


  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;


}



@mixin clear-ul {
  list-style-type:none;
  margin:0;
  padding: 0;
}


@mixin header-box-shadow {
-webkit-box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
-moz-box-shadow:    0px 10px 10px -5px rgba(0,0,0,0.5);
box-shadow:         0px 10px 10px -5px rgba(0,0,0,0.5);

}


/* Typography
==============*/
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
      url('fonts/icomoon.woff') format('woff'),
      url('fonts/icomoon.ttf') format('truetype'),
      url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

p {
  text-align: justify;
}

p,
form,
ol,ul,
table td {
  font-family: $font1;
}

a {
  font-family: $font1;
  color: $red;
  &:hover {color: lighten($red, 5%); transition: color 300ms ease-out;}

}


p,ol,ul {font-size: 0.95em;}
h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.3em;}
h5 {font-size: 1.2em;}
h6 {font-size: 0.98em;}


h1,h2,h3, h4 {
  font-family: $font3;
  font-weight: 700;
}

h5, h6 {
  font-family: $font3;
  font-style: italic;
}

h2 {
  border-bottom: 2px solid #DDD;
}


.code {
  font-family: courier new,courier,monospace;
}



/* Page Styles
================================ */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:focus { outline: 0;}
}

table {
  border-left: none;
  border-right: none;
  tr,td  {
  border: none;}
  margin-bottom: 20px;
}

h1,h2,h3,h4 {
  padding-top: 8px;
}

h5,h6 {
  padding-top: 5px;
}

html, body {overflow: hidden;}

button {
  background-color: $red;
  border-color: lighten($red,10%);
  color: white;
  @include roundy(40px);
  &:hover, button:focus, .button:hover, .button:focus {
    background-color: lighten($red,10%); }
}


.content {
  padding: 20px;
  padding-top: 0;
}

.with-icon:before {
  content: data-icon;
  padding-right: 8px;
}

.aside-title {
  margin-bottom: 0 8px 15px;
  font-style: normal;
  text-align: left;
  border-bottom: 2px solid #EEE;
  &:before {
    content: data-icon;
    padding-right: 6px;
  }
}

/* Header & Panel 
================================ */
/* Header */
.header {
  width: 100%;
  @include header-box-shadow;
  background: $grey url('../img/black_paper.jpg');

  
  .row {
    padding: 0.8%;
    > div {@include flex;}

    .photo-box {
      width: 500px;
      p {
        font-size: 96%;
        span {
          font-weight: 700;
          font-family: $font3;
          font-size: 130%;
          line-height: 1.5em;
        }
        margin: 0;
      }
      h4#lab-name {
        position: absolute;
        bottom: 0;
        right: 2%;
        text-align: right;
        font-size: 1.2em;
        line-height: 0.5em;
      }

      #photo-header {
        margin-right: 10px;
        border: 5px solid #DDD;
        box-shadow: 0px 0px 5px #DDD;
        float: left;
        height: 157px;
        margin-right: 15px;
      }
        .contact-faculty {
          margin-left: 150px;
          margin-top: 7px;
          width: 350px;

          
     
          a {font-size: 90%; line-height: 1.5em;margin-right: 25px;}
   
        }

    }
    .nav { 
      margin-left: -20px;
      .navon {
        padding: 3px 5px;
        margin-left: -5px;
        background: lighten( $red, 5% );
        @include roundy(15px);
        color: white;
      }
      ul {
        @include clear-ul;
        margin-top: 55px;


        li {
          margin-bottom: 5px;
          &:last-child {display: none;} 


        }
        #logo {
          font-size: 60%;
          background-image: url(../img/logos/netwis3.png);
          background-size: 90%;
          height: 50px;
          padding-top: 78px;
          background-position: left top;
          background-repeat: no-repeat;
          &:hover {color: $red;}
          padding-left: 5px;
        }
        li:not(:first-child) {
          margin-left: 8px;

        }
      }
    }
  }
    
}

/* Right panel */
.panel {
  background: white;
  border: none;
  padding: 1rem;
  .short-news {
    p, h6 {
      font-size: 85%;
      margin-bottom: 0;}
    h6 {
      font-weight: 700;
      font-style: normal;
    }
    p {margin-bottom: 10px;}

    
  }
  #more-news {font-size: 0.95em;}
  .calendar {
    margin-top: 15%;
    #calendar {
      width: 95%;
    }
  }


}


/* Left panel */


.menu {
  margin-top: 6%;
  p,a {font-size: 90%;}
  >ul {
    @include clear-ul;
    margin-left: 3%;

  }
 .item-menu {
    position: relative;
    &:nth-child(even) {
      z-index: 100;
      left: 39%;

    }
    .circle-text {
      width:55%;
      margin-top: -33%;
     
      &:after {
        content: "";
        display: block;
        width: 100%;
        height:0;
        padding-bottom: 100%;
        background: rgba(darken($grey, 15%),0.6); 
        transition: 0.1s ease-out;

        @include roundy(50%);
      }
      div {
        float:left;
        width:100%;
        padding-top:30%;
        line-height:1.6em;
        margin-top:-0.5em;
        text-align:center;
        color:white;   

        span {
          font-size: 240%;
        }
      }
    }

    .sub-menu {
      @include clear-ul;
      margin-bottom: 33%;
      margin-top: -15%;

      li {
        background: $grey;
        padding: 2px 12px;
        text-align: center;
        &:first-child {
          padding-top: 5px;
          @include border-radius(16px,16px,0,0);}
        &:last-child {
          padding-bottom: 5px;
          @include border-radius(0,0,16px,16px);}
      }


    }

    &:hover .circle-text {
      font-size: 105%;
      &:after{

        width: 103%;
        padding-bottom: 103%;
        transition: 0.1s ease-out;
      }
    }



  }
  .on {
    z-index: 100;
    .circle-text:after {
      background: rgba($red,0.85);
      box-shadow: 0px 0px 5px $red;
      -moz-box-shadow: 0 1px 0 rgba(lighten($red, 5%),0.85) inset, 0 -1px 0 rgba(darken($red,5%),0.85) inset;
      -webkit-box-shadow: 0 1px 0 rgba(lighten($red, 5%),0.85) inset, 0 -1px 0 rgba(darken($red,5%),0.85) inset;
      box-shadow: 0 1px 0 rgba(lighten($red, 5%),0.85) inset, 0 -1px 0 rgba(darken($red,5%),0.85) inset;
    }
    .sub-menu {
      li {
        border-left: 2px solid $red;
        border-right: 2px solid $red;
      }
      li:first-child {border-top:  2px solid $red;}
      li:last-child {border-bottom:  2px solid $red;}
    }
  } 
  .subon {
    a {padding: 4px 8px;
    margin-top: -4px;
    margin-bottom:-4px;
    background: lighten($red, 5%);
    @include roundy(30px);
    color: white;
    }
    text-indent: -8px;
    display: block;

  }
}


.menu .logos-left {
  position: fixed;
  bottom: 3.5%;

  div {
    width: 16.66666666667%;
    background: white;
    padding: 0 15px;
  }
  width: 100%;
  text-align: center;
  margin-top: 80px;
  img { 
    height:auto; width:50%; max-width:150px;
    margin: 5px;
  } 
  h4:before {
    padding-right: 6px;
  }
}


/* Content
================================ */
.main{
  height: 100%;
  >div {
    padding-top: 2.5%;
  }
}
.content {
  height: 100%;
  overflow: auto;
}

/* Content: Home
================================ */
#home {
  h2:first-child {
    margin-top: 0;
  }

  .highlight-publications {

    width: 50%;
    margin-top: 40px;
    ul {
      @include clear-ul;
          li {
      .title {margin: 0; font-size: 1.2em;}
    }
    }

  }
}



/* Content: People
================================ */
#people {
  h2:not(:first-child) {
  margin-top: 30px;
  }
  .faculty {
    padding: 12px;
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
    background: $grey;
    @include flex;
    div {
      width: 75%;
      padding-right: 10px;
    }
    .name-faculty {
      padding-top: 0;
      margin-bottom: -8px;
    }
    .title-faculty {
      margin-bottom: -6px;
      font-style: normal;
    }
    .photo-faculty {
      text-align: center;
        width: 25%;
        img { height:auto; width:auto; max-width:200px; max-height:240px;}
    }
    .faculty-shortbio {
      text-align: justify;
    }
    .contact-faculty a {
      font-size: 85%;
    }
  }

  .students {
    >li {
      text-align: center;
      margin-bottom: 15px;
      
      .photo-member {
        margin: auto;
        width: 180px;
        height: 180px;
        margin-bottom: 15px;
        img { height:auto; width:auto; max-width:190px; max-height:190px;}
      }
      .name-member {margin-bottom: -8px;}
      .short-bio {
        font-size: 90%;
        text-align: justify;
        padding: 0 2px 2px 2px;
      }
      .email-member {
        font-size: 95%;
        text-align: center;
        margin-top: 15px;
        line-height: 1em;

      }
    }


  }
  .former {
    .name-member {font-size: 100%;}
    h6 {font-size: 100%;}

  }
}



/* Content: Gallery
================================ */
.photos {
  @include clear-ul;
  @include flex;
  li {
    margin: 8px;
    figure {width: 100%;margin: 0;}
    width: 220px;

    padding: 5px;
    border-radius: 2px;
    background-color: $grey;
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);

  }

}

/* Content: Research
================================ */
.naration {
  text-align: justify;
  padding: 0 5%;
  width: auto;
  img {
    float:right; padding: 15px;
  }
}

.expanded_naration{
  h4 {
    padding: 6px 6px 6px 53px;
    background: $grey;
    &:hover {cursor: pointer;}
    text-indent: -40px;
  }
  h3 {
    font-size: 1.3em;
    padding: 6px 6px 6px 53px;
    background: $grey;
    text-indent: -40px;
    &:before {
      content: '\00b7';
      position: relative;
      top: -2px;
      left: -12px;
      padding: 6px 16px 10px;
      background: darken($grey,15%);
    }
  }
}
  /* Collapsed state */
  .collapsed:before {
    content:url(img/collapsed.png);
    background: darken($grey,15%);
    
  }

  /* Expanded state */
  .expanded:before {
    content:url(img/expanded.png);
  }

  .collapsed:before,  .expanded:before {
    position: relative;
    top: -2px;
    left: -12px;
    padding: 6px 15px 10px;
  }

/* Content: Publications
================================ */
  .publications p {
    text-indent: -2em;
    padding:  8px 0.5em 8px 2.5em;
    margin: 0;
    &:nth-of-type(odd) {background: rgba($grey, 0.3);}
  }

/* Content: Downloads
================================ */

  .nav-downloads {
    padding: 8px;
    @include roundy(5px);
  }
  .nav-downloads a { 
    margin-right: 10px;
    font-size: 92%; 
  }

  #FAQ {
    color: $red;
    &:hover {color: lighten($red,10%);}
  }


/* Content: Projects
================================ */
#projects {
  ul {
    list-style-type: none;
    h6 {
      font-style: normal;
      margin-bottom: 1px;  
    }
  }
  
}


/* Footer
================================ */
#footer {
  margin-top: 60px;
  .logos-footer {display: none;}
  p {text-align: center;}
}

/* Media Queries
================================ */
@media only screen and (max-width: 64.062em) { 
  .menu >ul{
    @include flex;
    justify-content: flex-end;
    .item-menu {
      &:nth-child(odd) {left: 0%;}
      &:nth-child(even) {left: 0%;}
      > a {
        @include roundy(0);
        height: 20px; 
        padding: 8px 30px;
      }
    }
  }
  .logos-left {display: none;}
} // Medium screens

// XXLarge screens
@media only screen and (min-width: 120.063em) { 
  #calendar {
    display: block
  }
}
