/* Variables
================================ */
$red: rgb(160,0,0);	
$grey: rgb(230, 230, 230);
$grey-10: rgb(242,242,242);
$grey-25: rgb(102,102,102);
$grey-50: rgb(204,204,204);

$font1: 'Open Sans', sans-serif;
$font3: 'Lato', sans-serif;


/* Mixin
================================ */
@mixin border-radius($left-top, $right-top, $right-bottom, $left-bottom) {
  -webkit-border-radius: $left-top $right-top $right-bottom $left-bottom;
     -moz-border-radius: $left-top $right-top $right-bottom $left-bottom;
      -ms-border-radius: $left-top $right-top $right-bottom $left-bottom;
          border-radius: $left-top $right-top $right-bottom $left-bottom;
}

@mixin roundy($radius) {
  @include border-radius($radius,$radius,$radius,$radius);
}

@mixin flex {
  /* old syntax */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  /* new syntax */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;


  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;


}



@mixin clear-ul {
  list-style-type:none;
  margin:0;
  padding: 0;
}


@mixin header-box-shadow {
-webkit-box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.5);
-moz-box-shadow:    0px 6px 6px -3px rgba(0,0,0,0.5);
box-shadow:         0px 6px 6px -3px rgba(0,0,0,0.5);

}

@mixin default-transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Typography
==============*/
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
      url('fonts/icomoon.woff') format('woff'),
      url('fonts/icomoon.ttf') format('truetype'),
      url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

p {
  text-align: justify;
}

p,
form,
ol,ul,
table td {
  font-family: $font1;
}

th {
  font-size: 100%;
}

a {
  font-family: $font1;
  color: $red;
  &:hover {color: lighten($red, 5%); transition: color 300ms ease-out;}

}


p,ol,ul {
  font-size: 1em;
  line-height: 1.7em;
}
h1 {font-size: 1.725em;}
h2 {font-size: 1.6em;}
h3 {font-size: 1.475em;}
h4 {font-size: 1.35em;}
h5 {font-size: 1.225em;}
h6 {font-size: 1.1em;}


h1,h2,h3, h4 {
  font-family: $font3;
  font-weight: 700;
}

h5, h6 {
  font-family: $font3;
  font-style: italic;
}

h2 {
  border-bottom: 2px solid #DDD;
}


.code {
  font-family: courier new,courier,monospace;
}

.equation {
  
}




/* Page Styles
================================ */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:focus { outline: 0;}
}

table {
  border-left: none;
  border-right: none;
  border-collapse: collapse;
  padding: 0;
  tr,td  {
  border: none;}
  margin-bottom: 20px;
}

h1,h2,h3,h4 {
  padding-top: 8px;
}

h5,h6 {
  padding-top: 5px;
}

html, body {
 overflow: hidden; 
  background: white;
  color: lighten(black, 20%);
}

button {
  background-color: $red;
  border-color: lighten($red,10%);
  color: white;
  padding: 8px 12px;
  @include roundy(40px);
  &:hover, button:focus, .button:hover, .button:focus {
    background-color: lighten($red,10%); }
}

img {
  display: block;
  margin: 10px auto;

}

.content {
  min-height: 100%;
  >div:first-child {
    min-height: 75%;
    min-width: 25em;
    max-width: 45em;
    margin: auto;
  }
}

.with-icon:before {
  content: data-icon;
  padding-right: 8px;
}

.aside-title {
  margin: 0 3px 15px;
  font-style: normal;
  text-align: left;
  border-bottom: 2px solid #EEE;
  &:before {
    content: data-icon;
    padding-right: 6px;
  }
}



/* Header & Panel 
================================ */
/* Header */
.header {
  width: 100%;
  
  //background: darken($grey, 8%);
  //background: $red;
  //background: -moz-linear-gradient(top, rgba($grey,1) 0%, rgba(darken($grey, 5%),1) 44%, rgba(darken($grey, 10%),1) 100%);
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($grey,1)), color-stop(44%,rgba(darken($grey, 5%),1)), color-stop(100%,rgba(//darken($grey, 10%),1)));
  //background: -webkit-linear-gradient(top, rgba($grey,1) 0%,rgba(darken($grey, 5%),1) 44%,rgba(darken($grey, 10%),1) 100%);
  //background: -o-linear-gradient(top, rgba($grey,1) 0%,rgba(darken($grey, 5%),1) 44%,rgba(darken($grey, 10%),1) 100%);
  //background: -ms-linear-gradient(top, rgba($grey,1) 0%,rgba(darken($grey, 5%),1) 44%,rgba(darken($grey, 10%),1) 100%);
  //background: linear-gradient(to bottom, rgba($grey,1) 0%,rgba(darken($grey, 5%),1) 44%,rgba(darken($grey, 10%),1) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c40000', endColorstr='#840002',GradientType=0 ); 
//
//
  background: rgba(darken($grey, 15%),1); /* Old browsers */
  background: -moz-radial-gradient(55% 99%, ellipse cover, rgba(darken($grey, 30%),1) 0%, rgba(darken($grey, 15%),1) 43%, rgba($grey,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, 55% 99%, 0px, center center, 100%, color-stop(0%,rgba(darken($grey, 30%),1)), color-stop(43%,rgba(darken($grey, 15%),1)), color-stop(100%,rgba($grey,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(55% 99%, ellipse cover, rgba(darken($grey, 30%),1) 0%,rgba(darken($grey, 15%),1) 43%,rgba($grey,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(55% 99%, ellipse cover, rgba(darken($grey, 40%),1) 0%,rgba(darken($grey, 15%),1) 43%,rgba($grey,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(55% 99%, ellipse cover, rgba(darken($grey, 30%),1) 0%,rgba(darken($grey, 15%),1) 43%,rrgba($grey,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at 55% 99%, rgba(darken($grey, 30%),1) 0%,rgba(darken($grey, 15%),1) 43%,rgba($grey,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(darken($grey, 30%),1)', endColorstr='#rgba($grey,1)',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  @include header-box-shadow;

  .row {
    padding: 0.2% 1.2%;
    > div {
      padding: 0;
    }

    .photo-box {
      width: 500px;
      p {
        font-size: 85%;
        line-height: 1.45;
        padding-top: 3px;


        margin-bottom: 10px;
        #name-prof {
          font-family: $font3;
          font-weight: 700;
          font-size: 200%;
        }
        #prof {
          font-family: $font3;
          font-style: italic;
          font-weight: 700;
          font-size: 120%;
          line-height: 0;
        }
      }
      #photo-header {
        margin-right: 10px;
        -webkit-box-shadow: -1px 0px 12px -2px rgba(white,0.8);
        -moz-box-shadow: -1px 0px 12px -2px rgba(white,0.8);
        box-shadow: -1px 0px 12px -2px rgba(white,0.8);
        float: left;
        max-height: 132px;
        margin-right: 15px;
      }
      .contact-faculty {
        height: 40px;
        overflow: hidden;
        font-size: 87%;
        margin-top: -5px;
        margin-bottom: 0;
        ul {
          margin: 0;
          li {margin: 0;}
        }
        margin-left: 130px;
        width: 350px;
        a {font-size: 90%; line-height: 1.5em;margin-right: 25px;}
 
      }

    }
    .nav { 
      margin-top: -8px;  
      text-align: right;

      .navon {
        padding: 3px 8px;
        background: white;
        color: $red;
        @include roundy(15px);
        
        margin-right: -8px;
      }
      ul {
        @include clear-ul;
        margin-top: 8px;
        li:not(:first-child) {
          padding-right: 5px;
        }
        img {margin-right: 0;}
        li:not(:last-child) {
          margin-bottom: 5px;  
        }
      }
    }
  }
    
}


/* Right panel */
.panel {
  background: white;
  border: none;
  padding: 0;
  .short-news {
    p, h6 {
      font-size: 90%;
      margin-bottom: 0;}
    h6 {
      font-weight: 700;
      font-style: normal;
    }
    p {margin-bottom: 10px;}

    
  }
  #more-news {font-size: 0.95em;}
  .calendar {
    margin-top: 15%;
    #calendar {
      width: 100%;
      height: 120%;

    }
  }


}


/* Left panel */
.left-panel {
  padding-left: 0;
  padding-right: 0;
  >ul {
    @include clear-ul;
    margin-left: 3%;
  }
  .menu {
    width: 95%;
    margin:auto;
    height: 400px;
  }


  .item-menu {
    &:nth-child(even) {
      z-index: 10;
    }
    .circle-text {
      width:50%; 
      &:after {
        content: "";
        display: block;
        width: 100%;
        height:0;
        padding-bottom: 100%;
        background: rgba(darken($grey, 15%),0.6); 
        transition: 0.1s ease-out;
        @include roundy(50%);
      }
      div {
        float:left;
        width:100%;
        line-height:1.6em;
        text-align:center;
        color: darken($grey, 25%);   
        &:before {
          content:'';
        }
      }
    }
    .sub-menu {
      @include clear-ul;
      display: none;
      margin-bottom: 33%;
      font-size: 77%;
      width: 100%;
      li {
        background: $grey;
        padding: 2px 12px;
        text-align: center;
        &:first-child {
          padding-top: 5px;
          @include border-radius(16px,16px,0,0);}
        &:last-child {
          padding-bottom: 5px;
          @include border-radius(0,0,16px,16px);}
      }
    }

    &:hover {
      .circle-text div {
        line-height:1.6em;
      }
      .sub-menu {display: block;}
    }
  }

  .on {
    .circle-text {
      div {
        color: white;
      }
    }
    .circle-text:after {
      background: rgba($red,0.85);
      box-shadow: 0px 0px 5px $red;
      -moz-box-shadow: 0 1px 0 rgba(lighten($red, 5%),0.85) inset, 0 -1px 0 rgba(darken($red,5%),0.85) inset;
      -webkit-box-shadow: 0 1px 0 rgba(lighten($red, 5%),0.85) inset, 0 -1px 0 rgba(darken($red,5%),0.85) inset;
      box-shadow: 0 1px 0 rgba(lighten($red, 5%),0.85) inset, 0 -1px 0 rgba(darken($red,5%),0.85) inset;
    }    
  } 
  .subon {
    background: red;
    a {
      padding: 4px 8px;
      margin-top: -4px;
      margin-bottom:-4px;
      background: lighten($red, 5%);
      @include roundy(20px);
      color: white;
    }
    

  }

  .logos-left {
    background: white;
    position: absolute;
    z-index: 200;

    div {
      background: white;
      padding: 0;
      .links {margin: 0;}
    }
    width: 100%;
    text-align: center;

    .logo {
      margin: auto;
      width: 175px;

      img {
        float: left;
      }
      &:nth-of-type(n+2) {
        width: 120px;
      }
    }
    h4:before {
      padding-right: 6px;
    }
  }
}
  




/* Content
================================ */
.main{
  background: white;
  padding-right: 15px;
  padding-left: 15px;
  height: 100%; 
  >div {
    padding-top: 4%;
  }
}
.content {
  height: 100%;
  overflow: auto;
}

/* Content: Home
================================ */
#home {
  h2:first-child {
    margin-top: 0;
  }

  .latest-publications {
    ul {
      @include clear-ul;
      li {
        .title {
          margin: 0;
          font-style: normal;
        }
        p {
          margin-bottom: 5px;
        }

      }
    }

  }
}



/* Content: People
================================ */
#people {
  h2:not(:first-child) {
    margin-top: 30px;
  }
  .professor {
    img {
      padding-top: 22px;
    }
    h1,h5 {
      text-align: center;
    }
    h1 {
      margin-bottom: 0;
    }
    h5 {
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 12px;
    }
    ul {
      @include clear-ul;
      margin-bottom: 25px;
      li {
        display: inline-block;
        a {
          font-size: 89%;
          margin: 8px;
        }   
      }
    }
  }
  .students {
    >li {
      text-align: center;
      margin-bottom: 15px;
      
      .photo-member {
        margin: auto;
        width: 180px;
        height: 180px;
        margin-bottom: 15px;
        img { height:auto; width:auto; max-width:190px; max-height:190px;}
      }
      .name-member {margin-bottom: -8px;}
      .short-bio {
        font-size: 90%;
        text-align: justify;
        padding: 0 2px 2px 2px;
      }
      .email-member {
        font-size: 95%;
        text-align: center;
        margin-top: 15px;
        line-height: 1em;
      }
    }
  }
  .former {
    .name-member {font-size: 100%;}
    h6 {font-size: 100%;}

  }
}

/* Content: Gallery
================================ */
.photos {
  @include clear-ul;
  @include flex;
  li {
    margin: 8px;
    figure {width: 100%;margin: 0;}
    width: 220px;
    padding: 5px;
    border-radius: 2px;
    background-color: $grey;
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
  }
}

/* Content: Research
================================ */
.naration {
  text-align: justify;
  padding: 0 5%;
  width: auto;
  img {
    float:right; padding: 15px;
  }
}

.expandable_naration {
  h4:hover {
    color: $red;
    cursor: pointer;
  }
  .expanded_content:before {
    font-family: 'icomoon';
    content: "\e611";
    font-size: 55%;
    position: relative;
    top: -2px;
    margin-right: 5px;
    
    
  }
  .expanded_content {
    border-bottom: 0 solid $grey;
    transition: border-bottom-width 0.5s ease-in-out;
  }
  .expanded_content_active:before {
    content: "\e610";
    
  }
  .expanded_content_active {
    border-bottom-width: 1px;
  }
  div {
    position: relative;
    margin-bottom: 50px;
    .collapse-button {
      margin-bottom: 25px;
      color: lighten($grey-25,10%);
      @include default-transition;
      position: absolute;
      right: 0;
      top: 100%;
      background: none;

      &:hover {
        color: lighten($grey-25,20%);
        @include default-transition;
        background: none;
      }
    }
  }
}



/* Content: Publications
================================ */
.publications p {
  text-indent: -2em;
  padding:  8px 0.5em 8px 2.5em;
  margin: 0;
  &:nth-of-type(odd) {background: rgba($grey, 0.3);}

  .publication-title {
    font-weight: 600;
  }
  .publication-name {
    font-style: italic;
  }
}

.tabs {
  padding: 5px;
  float: right;
  width: 370px;
  li {
    padding-top: 9px;
    width: 25%;
  }
  .tab-title a {
    text-align: center;
    font-size: 95%;
    padding: 1px 0;
    color: darken($grey,20%);
    letter-spacing: 0.5px;
    background: none;

    &:hover {
      background: none;
    }
  }
  .tab-title.active a {
    text-decoration: underline;
    color: darken($grey,20%);
  }
}

#selected_publications, #publications_by_year, #publications_by_area {
  padding-top: 35px;
}

#full_publications {
  padding-top: 0;
  h4 {margin-top: 35px;}
}

#publications_by_area {
  h6 {
    color: darken($grey,20%);
    margin-top: 1.5em;
    line-height: 0.8em;
  }
}

/* Content: Downloads
================================ */
#download-overview {
  table {
    margin-top: 20px;
    border: 1px solid $grey;
    border-top: none;

    background: white;
  }
  table tr {
    th,td:nth-of-type(1),td:nth-of-type(3)  {text-align: center;}
    th:nth-of-type(1){
      width: 20%;
    }
    td:nth-of-type(1){
      width: 20%;
    }
    th:nth-of-type(2){
      width: 64%;
    }
    td:nth-of-type(2){
      width: 64%;
    }
    th {
      color: $grey-25;
      background: $grey;
      font-size: 100.5%;
      padding: 15px 0;
      &:nth-of-type(-2+n) {
        letter-spacing: 0.5px;
      }

    }
    button {
      font-size: 85%;
    }
  }

}


  .nav-downloads {
    padding: 8px;
    @include roundy(5px);
  }
  .nav-downloads a { 
    margin-right: 10px;
    font-size: 92%; 
  }

  #FAQ {
    color: $red;
    &:hover {color: lighten($red,10%);}
  }


/* Content: Projects
================================ */
#projects {
  ul {
    list-style-type: none;
    h6 {
      font-style: normal;
      margin-bottom: 1px;  
    }
  }
  
}


/* Footer
================================ */
#footer {
  text-align: center;
  padding-top: 50px;
  .logos-footer {display: none;}
  p, ul li {
    text-align: center;
    font-size: 80%;
    color: darken($grey, 20%);
    text-align: center;
  }

}



/* Media Queries
================================ */

@media only screen and (max-width: 40.063em) { 
  .left-panel {
    padding: 0;
    .item-menu {
      .circle-text {
        width:100%; 
      }
    }
  }
}

@media only screen and (max-width: 64.063em) { 
  .left-panel {
    padding: 0;
    .item-menu {
      margin: 0;
      .content {margin: 0;}
      .circle-text {
        width:80%; 

        div {
          padding: 5px;
          line-height: 0;
          overflow: hidden;
          .menu-text {display: none;}
        .menu-icon {display: block;}
          
        }
      }
      .sub-menu {
        position: absolute;
        display: block;
        width: 250px;
        z-index: 100;
        opacity: 0.92;
        font-size: 88%;
      }
      &:hover .circle-text div {
        line-height: 0;
        padding: 5px;
      }
    }
    .logos-left {
      display: none;
    }

  }



} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) { 
  .item-menu {
    .circle-text div {
      margin-top: 40%;
      .menu-text {display: block;} 
      .menu-icon {display: none;} 
      .menu-icon {font-size:200%;}
    }
    &:hover .circle-text div{
      margin-top: 30%;
      .menu-text {display: block;} 
      .menu-icon {display: block;} 

    }
  }

  .left-panel .on {
    .circle-text div {

    }
  }
  .on .circle-text div{
      margin-top: 30%;
      .menu-text {display: block;} 
      .menu-icon {display: block;} 

    }
}

// XXLarge screens
@media only screen and (min-width: 120.063em) { 

}
