* {
	margin: 0;
	padding: 0;
}

body {
/*	 background: #F5F5F5 url(images/img002.jpg) repeat-x;*/
/*	 background: #F0FFF0 url(images/bgzigzagpattern.gif) repeat;*/
	 background: #F0FFF0 url(images/blue_bg.gif) repeat;

	/*background:  #DCDCDC url(images/netwis_1.jpg) no-repeat  top right;*/
	
/*#FAFAD2 #FFFFE0  #FFFFF0  	#F0FFF0 */
		font-style:normal; font-variant:normal; font-weight:normal; font-size:0.9em; font-family:Arial, Helvetica, Sans-Serif;
	color: #3c3c51;  /* body font of main text area */
	
}


h1, h2, h3 ,h5{
	color: #B43939;
}

h1 {
	margin-bottom: .8em;
	font-size: 3em;
	font-weight: normal;
}


h2 {
	margin-bottom: .8em;
	font-size: 2em;
	font-weight: normal;
	text-align: left ;

}

h3 {
	margin-bottom:0.5em;
	font-size: small;
}
/* color for the headings */
h4 {
	font-size: 1.5em;
	text-align: right ;
	margin-top: 1.75em;
	color: #606787; /*71718f*/
}

h5 {
	font-size: medium ;
	text-align: left ;
	margin-top: 1.75em;
	margin-bottom:0.5em;
	
	
}

p, blockquote, ul, ol {
	margin-bottom: 0.4em;
	line-height: 1.4em;
}

p {
}

blockquote 
{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 3em;
	margin-right: 3em;
	padding: 1em 1em 0 1em;
	background: #ffffff;
	border: 0px;
	font-style: normal;
	color: #3c3c51;
}

ul {
	margin-left: 40px;
	position:relative;
}

ul li {
	padding:0px;
	margin:0px;
}

ol {
	margin-left: 40px;
	position:relative;
}

ol li {
	font-size: .85em;
	padding:0px;
	margin:0px;
}

a {
	
	text-decoration: none;
	color: #B43939;
}

a:hover {
	text-decoration: underline;
}


a1 {
	text-decoration: none;
	color: #B43939;
}

a1:hover {
	text-decoration: underline;
}




img {
	border: 0px;
	padding: 0px 0px 0px 0px;
}

.hr hr {
	display: none;
}

.hr {
	/*clear: left;*/
	height: 70px;
	/*background: url(images/img04.gif) no-repeat center;*/
}

/* Boxed Style */

.boxed {
	margin-bottom: 20px;
	padding-bottom: 16px;
	/*background: url(images/img06.gif) no-repeat center bottom;*/
}

.boxed .title {
	/*background: url(images/img05.gif) no-repeat right;*/
	font-size: 1.5em;
}

.boxed .content {
	border-bottom: 1px dotted #C7894C;
}

/* Logo */

#logo {
	height: 140px;
	padding: 0px 0px;
/*  */
}

#logo h1 {
	float: left;
	font-size: 2.6em;
}

#logo h2 {
	float: right;
	padding: .75em 0 0 .4em;
	font-size: 1.4em;
	font-style: italic;
}

#logo a {
	color: #F4E7DB;
}

/* Content */

#content {
	position:relative;
}

/* Content > Main */



#main {
	position:relative;
	float:right;
	margin:0;
	top:0;
	left:0;	
	padding: 0px;
	text-align: justify;

	background: #FFFFFF ; /* url(images/img05_bk_03.gif) no-repeat top right;*/

	/*border: 3px solid #C7894C #CCCCFF #2F4F4F   #FFDEAD 	#4B0082;  */
	border:none;
	
}

/*#extra {
	height: 31px;
	margin:30;
	background: url(images/img02.gif) repeat-x;
}*/

#extra {
	position: static;
	height: 10px;
	margin: 60px 0px 0px 260px;
}


#extra1 {
	
	position: absolute ;
	top: 140px;
	left: 580px;
	width: 350px ;
	height:0px;
	margin: -10px 0px -10px 0px;

}

#extra2 {
	
	position: absolute;	
	right:0px;
	top:0px;	
	width: 100px ;
	height:30px;
	margin: 0px 0px 0px 0px;
	_margin-right:-1px;
	padding:0;
	background: url(images/img05_bk_03.gif) no-repeat bottom right;
}

.style1 {font-weight:bold;}






/* Content > Main > Welcome */

#welcome {
	border-top: 1px		#778899 solid  ; 
	border-left: 1px 	#778899 solid  ; 
	border-right: 2px	#606787 solid  ; 
	border-bottom: 2px 	#000000 solid  ;
	padding: 30px 30px 0px 26px;
	width: 682px ;  /* create a fixed width of the white area */
	overflow:hidden;
}

/* Content > Main > Example */

#example {
}

/* Content > Sidebar */

#sidebar {
	position:relative ; /* sidebar positioning from the top of the page and left edge */ 
	left:5px;
	float:left;




	width: 180px ;
	margin: 70px 15px 3px -20px; /* change the location of the sidemenu   */ 
	padding: 0px 0px 0px 40px;
}





/* Content > Sidebar > Menu */

.menu {
	margin:0;	
/*	border-bottom: 0px solid #C7894C;*/
	background-image: url(images/menu_bg1.gif);
	background-repeat: no-repeat;
	background-position: top left;
	display:block;
	position:relative;
	margin-bottom: 30px;
	overflow:hidden;
	width:180px;
}

.menu ul {
	margin: 2px 0 0 0;
	list-style: none;
	line-height: normal;
	line-height: 1.1em;
	
}

.menu li {
	display: inline;
	line-height: 1.1em;

}


.menu a {
	display: block ;
	margin: -1px 0px 0px 0px;	
	padding: 3px;
	font-weight:normal; 
	font-size: 0.85em;
	color: #606787; /* font line for left bar, sub-items */
	
}

.menu big {
	display: block ;
	margin: -1px 0px 0px 0px;	
	padding: 3px;
	font-size: 0.95em;
	color: #FFFFFF; /* font line for left bar, sub-items */
	
}

.menu a:hover {

	/*background: #C7894C;  #A9A9A9 #00008B #483D8B #708090 #483D8B*/
	background: #606787; /* hover background #483D8B*/
	text-decoration: none;
	color: #FFFFFF;

}

.menu .active a {
	background: none;
	text-decoration: none;
	color: #FFFFFF;

}



/* Content > Sidebar > Updates*/
/* here can control the news */
.updates {
}

.updates ul {
	margin: 0;
	list-style: none;
}

.updates h3 {
	padding: 0px 0px 0px 5px ;
	margin:  0px 0px 0px 0px ;
	font-size: x-small;
}
.updates h2 {
	padding: 10px 0px 0px 0px ;
	margin:  15px 0px 0px 0px ;
	font-size: large;
}
.updates p {

	text-align: justify;
	padding: 0px 0px 0px 10px ;
	margin:  0px 0px 0px 10px ;
	margin-bottom: 10px;
	font-size: smaller;
	line-height: normal;
}

/* Content > Sidebar > Partners*/

#partners {
}

#partners .content {
	padding: 10px 0;
}

#partners ul {
	margin: 0;
	border-bottom: 1px solid #D1BC5C;
	list-style: none;
	line-height: normal;
}

#partners li {
	padding: 10px;
	border-top: 1px solid #D1BC5C;
}

/* Footer */

#footer 
{
	/*visibility: hidden;*/
	clear: both;
	height: 30px ;

	
/*	background: #734415; 	#000080 #A9A9A9 #483D8B #191970*/

	background:#e0e4f8;  /*#606787;*/
}

#footer p {
	margin: 0;
	padding-top: 8px ;
	 
	font-size: x-small;
	color: #606787;
}

#footer a {
	text-decoration: underline;
	color: #606787;
}

#footer a:hover {
	text-decoration: none;
	color: #606787;
}

/* Footer > Legal */

#legal {
}

/* Footer > Links */

#links {
}


/*
	Main Navigation 
	-------------------------
	The following rules control the appearance of the main navigation links.
	These links are displayed in a horizontal band with a gray background. 
	Main navigation should appear on every page of a site.
*/

#header {
	position: absolute ; /* header positioning from the top of the page and left edge */ 
	top:0px;
	left:0px;


/*	background: #CC9966;  #B22222	#483D8B #191970 #696969  #8b95c6 8c90a4 616785*/
/*	border-bottom: 3px solid #b3b3aa;*/

	}
	
#navigation 
{
	position: absolute ; /* navigation positioning from the top of the page and left edge */ 
	top:140px;
	left:5px;

/*	margin: 0 auto;*/
	margin: 30px 0px 0px 220px;
	width: 10px;
	}
	
#navigation ul {

	float: none;
	list-style: none;
	margin: 0;
	padding: 0;
/*	border-left: 1px solid #a6a69d;*/
	width: 739px;
	font-size: 1em;
	}
	
#navigation li {
	margin: 0;
	padding: 0;
	float: left;
	background: none ;
	}
	
#navigation a {
	float: none;
	margin: 0;
/*	padding: 7px 20px;*/
	padding: 0;
	border: none;
/*	border-right: 1px solid #a6a69d;*/
	font-size: 1.0em;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	}
	
#navigation a:hover {
	/*background: #DC143C;*/
	text-decoration: none;
	/*background: #FF4500;*/
	}


/****************************************
 * Tables
 ****************************************/
/*
	The following rules control the appearance of tables, which are used only
	for tabular data. To create the appearance of alternating stripes of 
	background colors on rows of data, use the .row1 and .row2 classes on 
	<tr> elements.
	
	For a detailed example of how to mark up a table, see the 
	one-column or two-column template.
*/
table, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0.85em;
	}
	
table {
	margin: 15px 0;
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
	caption-side: bottom;
	}
	
th {
	padding: 0 15px 5px 15px;
	font-weight: normal;
	text-align: left;
	color: #888;
	}
	
td, tbody th {
	padding: 10px 15px;
	border-top: 1px solid #e7e7e7;
	font-size: 1.1em;
	line-height: 1.5em;
	vertical-align: top;
	}
	
tbody th {
	font-weight: bold;
	color: #222;
	text-align: right;
	}
	
.row1, .row1 td, .row1 th {
	text-align: justify;
	background: #fff;
	} 
	
.row2, .row2 td, .row2 th {
	text-align: justify;
	background: #fafaf7;
	}
	
tfoot td {
	font-weight: bold;
	}

caption {
	margin: 0 0 15px 0;
	text-align: left;
	color: #888;
	font-size: 1.1em;
	} 

#wrapper {position:relative;}
#top_area {margin:0; padding:0; width:971px; height:205px; position:relative;}
#head_link {display:block; width:961px; height:160px; margin-bottom:10px;}
#hor_nav {position:relative; list-style-type:none; margin-left:225px; float: none; width: 739px;}
#hor_nav li {float:left;}
#middle_area {position:relative; width:966px; _width:965px;}
#side_content {position:relative; float:left; margin:0; padding:0; left:25px; width:180px;}